@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  font-family: 'Segoe UI', sans-serif;
}

.slick-arrow {
  margin: 0 2.3rem;
  background-color: #ffffff;
  z-index: 100;
}

.swal2-container {
  z-index: 99999999;
}

@keyframes like {
  0% {
    transform: scale(0.2);
  }

  25% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(0.4);
  }
}

@keyframes dot-flasing {
  0% {
    background-color: #9880ff;
  }

  50%, 100% {
    background-color: #ebe6ff;
  }
}
