.card-createHome {
  width: 45%;
  /*height: 5%;*/
  border: 2px solid gray;
  color: black;
  margin-top: 5%;
}

#btn {
  color: black;
  width: 100%;
  height: 40%;

}
#btn.active{
  background: #f7a800 ;
}
#btn:hover {
  background: #f7a800;

}

#ggmap {
  width: 20%;
}

#search-location {
  width: 50%;
  /*height: 500%;*/
  /*border-radius: 50%;*/
}

/*.search-map {*/
/*  margin-top: 10%;*/
/*}*/

#btn-create23 {
  background: gray;
  margin-top: 30px;
}

#btn-create231 {
  margin-top: 30px;
  background: #f7a800;
  margin-left: 10px;
}

#img {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

#btn-create {
  /*margin-top: 40px;*/
  /*position: fixed;*/
}

#btn-back {
  background: gray;
}

#btn-next1 {
  background: #f7a800;
  margin-left: 900px;
}

#btn-next2 {
  margin-left: 900px;
  background: gray;
}
#btn-finish1 {
  background: #f7a800;
  margin-left: 900px;
}
#btn-finish2 {
  margin-left: 900px;
  background: gray;
}
/*createhome21
 */
.category-item{
  cursor: pointer;
  width: 100%;
  background-color: white;
}
.category-input {
  display: none;
}

.category-input:checked + .category-item {
  background-color: #f7a800;
}
.footer-end{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: white;
  color: white;
  text-align: center;
}